body{
    font-family: "Montserrat";
}
#title{
    background-color: rgb(96, 124, 115);
    color: #fff;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 2.5rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}  

p{
    color: grey;
}

.navbar{
    
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef7182;
    margin-bottom: 1rem;

}
.icon:hover{
    color:#ff46c8 ;
}

#testimonals{
    
    text-align: center;
    background-color:#ef8172;
    color:#fff;
}

.testimonal-image{
    width: 20%;
    border-radius:100% ;
    margin:20px;
}

.carousel-item{
    padding: 7% 15%;

}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px; 
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    background-color: #c7a2bc;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1;
}

#footer{
    padding: 3% 5%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform:rotate(0);
    }
}